[package]
name = "ag"
version = "0.7.2"
authors = ["Russell Cohen <russell.r.cohen@gmail.com>"]
description = "CLI App to slice and dice logfiles"
license = "MIT"
repository = "https://github.com/rcoh/angle-grinder"
readme = "README.md"

[dependencies]
serde_json = "1.0"
itertools = "0.7.6"
nom = "4.0.0-beta1"
quicli = "0.2.0"
regex = "0.2"
regex-syntax = "0.2"
terminal_size = "0.1.7"
quantiles = "0.7.1"
crossbeam-channel = "0.1"
ordered-float = "0.5.0"
failure = "0.1.1"

[dev-dependencies]
assert_cli = "0.5"
maplit = "1.0.1"
toml = "0.4.6"
serde = "^1.0"
serde_derive = "^1.0"
pulldown-cmark = "0.1"

[package.metadata.deb]
extended-description = """Angle-grinder allows you to parse, aggregate, sum, average, percentile, and sort your data. \
                        You can see it, live-updating, in your terminal. Angle grinder is designed for when, for \
                        whatever reason, you don't have your data in graphite/honeycomb/kibana/sumologic/splunk/etc. \
                        but still want to be able to do sophisticated analytics. \
                        Angle grinder can process about a million rows per second, so it's usable for fairly meaty \
                        aggregation. The results will live update in your terminal as data is processed. \
                        Angle grinder is a bare bones functional programming language coupled with a pretty terminal UI."""
